{% load i18n %}
{% load session_security_tags %}

<div id="session_security_warning" class="session_security" style="display:none">
    <div class="session_security_overlay"></div>
    <div class="session_security_modal">
        {% if request|warn_lock == 'true' %}
            <h3>{% trans 'Your session is locked' %}</h3>
            <p>{% trans 'Input password to unlock' %}</p>
            <form id="session_security_form" method="post">
            <label id="session_security_password_label" for="session_security_password">Password</label>
            <input id="session_security_password" name="session_security_password" type="password" />
            <button id="session_security_password_submit">Unlock</button>
            </form>
        {% else %}
            <h3>{% trans 'Your session is about to expire' %}</h3>
            <p>{% trans 'Click to extend your session.' %}</p>
        {% endif %}
    </div>
</div>

